@page "{handler?}"
@model RubiksCube.RazorPages.Pages.MySolves.IndexModel

<div class="container">
    <div class="Scrambles ">
        @foreach(var i in Model.Scrambles)
        {
            <a class="btn" asp-route-id="@i.Id" asp-page="/MySolves/SolveInfo">
                @i.Time
            </a>
        }
        <img />
    </div>
</div>