<div class="center">
    <span>@scramble</span>
</div>

<style>
    .center {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>


@code {
    string scramble = "B' R D' R2 D L F' B U' B2 D' B2 D' L2 D' L2 D' F' L'";
}
